<!DOCTYPE HTML>
<!--Autor: Uroš Rajčić 2021/0540 -->
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>NumberHunt</title>
		<link rel="stylesheet" href="/static/style.css" />
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="/static/NN_mm.js"></script>
	</head>
	<body>	
		<div class="mmtr">		
			<nav>
				<img src="/static/logo2.png" class = "center" alt="etrivia">
			</nav>
		</div>
		<div class="header-container">
			<div class="wrapper">
				<header>
					<HR width=120&percnt;  size=8 class="line">
					
				</header>
				<div id="numberhunt_game-container">
					<div id="numberhunt_question">233</div>
					<input type="text" id="numberhunt_answer" readonly>
					  <div id="numberhunt_result"></div>
					
					<div id="numberhunt_number-container">
						<button id="numberhunt_number1" type="button" >4</button>
						<button id="numberhunt_number2" type="button" >1</button>
						<button id="numberhunt_number3" type="button" >9</button>
						<button id="numberhunt_number4" type="button" >1</button>
						<button id="numberhunt_number5" type="button" >20</button>
						<button id="numberhunt_number6" type="button" >50</button>
					</div>
					<div id="numberhunt_operation-container">
						<button id="numberhunt_operation1" type="button" >+</button>
						<button id="numberhunt_operation2" type="button" >-</button>
						<button id="numberhunt_operation3" type="button" >*</button>
						<button id="numberhunt_operation4" type="button" >/</button>
						<button id="numberhunt_operation5" type="button" >(</button>
						<button id="numberhunt_operation6" type="button" >)</button>
						<button id="numberhunt_operation7" type="button" >DEL</button>
					</div>
					<br>
					<button id="numberhunt_confirm" type="button">Confirm</button>
				</div>
				<br><br><br>
			</div>
		</div>
	</body>
</html>